.page-header
	%h1 Editar tratamiento

.row
	.col-md-5
		%img.center-block{src: "/imgs/clipart01.jpg", height: "300px"}/
	.col-md-7
		%form.form-horizontal{action: "/animales/tratamientos/#{@tratamiento.id}", method: :POST}
			%input{name: :_method, value: :put, type: :hidden}/
			.form-group
				%label.control-label.col-sm-2{for: :animal} Animal:
				.col-sm-10
					%p.form-control-static= @tratamiento.registro
					%input{type: :hidden, name: "tratamiento[folio]", id: "tratamiento_folio", value: @tratamiento.registro.id}
			.form-group
				%label.control-label.col-sm-2{for: :tratamiento} Tratamiento:
				.col-sm-10
					%select.col-sm-12.use-select2.form-control{id: "tratamiento_id_tratamiento", name: "tratamiento[id_tratamiento]"}
						- Tratamiento.all.each do |t|
							=option_for(@tratamiento.tratamiento.id, t.id, t.id, t.nombre)
			.form-group
				%label.control-label.col-sm-2{for: :tratamiento} Veterinario:
				.col-sm-10
					- Veterinario.all.each do |v|
						.radio
							%label
								=radio_for("tratamiento[id_veterinario]", "tratamiento_veterinario", @tratamiento.veterinario.id, v.id, v.id)
								=v
			.form-group
				%label.control-label.col-sm-2{for: :fecha} Fecha de aplicación:
				.col-sm-5
					.input-group
						%span.input-group-addon
							%i.glyphicon.glyphicon-calendar
						%input.form-control.datepicker{type: :text, placeholder: :Fecha, name: "tratamiento[fecha_aplicacion]", id: "tratamiento_fecha_aplicacion",
							value: pdate(@tratamiento.fecha_aplicacion) }

			%button.btn.btn-success.btn-lg{type: :submit}
				%i.glyphicon.glyphicon-ok
				Guardar

= haml :_pager