body {
	background-color: #333;
	background-image: url('../imgs/background.png');
	padding-top: 60px;
}
nav.navbar input[type="search"] {
	border-radius: 30px;
	background-color: rgba(0,0,0,0.3);
	border: 1px solid #000;
	box-shadow: inset 0px 3px 3px rgba(0,0,0,0.3), 0px 1px 1px rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.7);
	font-size: 0.9em;
	line-height: 0.9em;
}
nav#pager { margin-top: 1.5em; }
section#debug {
	margin-top: 2em;
	padding: 1em;
}
.container .bg {
	background-image: url('../imgs/logotec.jpg');
	background-repeat: no-repeat;
	background-position: 97% 10px;
	background-size: 250px;
	background-color: #fff;
	min-height: 400px;
	padding: 1em 2em;
	border: 1px solid #333;
	margin-top: 1em;
	border-radius: 2px;
}

footer {
	margin-top: 2em;
	color: #eee;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-bottom: 2em;
	padding-top: 1em;
}
footer a {
	color: #333;
}
footer a:hover {
	color: #76aaff; /* f88 */
	text-decoration: none;
}

#animal_list .summary strong {
	width: 80px;
	text-align: right;
	display: inline-block;
}

#animal_ops {
	margin-top: 2em;
}
#animal_ops .nav { margin-bottom: 1em; }
#animal_ops .panel-title { text-align: center; }
#animal_ops .panel-title a.btn { color: #fff; }
#animal_ops table { margin-bottom: 0px; }

/* animal.haml */
.animal_summary p {
	margin-bottom: 0px;
}


table th {
	text-align: center;
	background-color: #f2f2f2
}

td.form-actions {
	text-align: center;
}
td.form-actions form, form.inline {
	display: inline;
	text-align: center;
}